In [5]:
import pandas as pd
import re
data=pd.read_csv("../../data/01-modified-data/supervised_data.csv")

In [6]:
# replace the sign with space in tweets
data["text"]=data["text"].str.replace("@"," ")
data["text"]=data["text"].str.replace("#"," ")
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text
data["text"] = data["text"].apply(wordopt)
# replace numbers with labels
data["label"]=data["label"].str.replace("rumor","0")
data["label"]=data["label"].str.replace("truth","1")

In [7]:
data.to_csv("../../data/01-modified-data/cleaned_supervised_data.csv",index=False)

In [8]:
data

,text,location,friends_count,followers_count,screen_name,retweet_count,favorite_count,label,description
0,is that you tome hanks how about we keep am...,NaN,12270,39810,helen henning,763,4208,0,MAKE AMERICA FLORIDA...let's have some fun...s...
1,after the dreadful hurricane in florida vp k...,London,34458,36853,David Atherton,198,297,0,"Libertarian, free markets, free speech. ""Selfi..."
2,heartbreaking iranian father who promised to ...,Iraq,1619,8999,Shukri Hamk,9589,30927,0,-Survivor of #YazidiGenocide. -human rights ac...
3,my dad just sent me this video from naples flo...,NaN,72,31,the worlds foremost authority,933,3681,0,it‚Äôs just a cope fest
4,omg so all funerals due on the th have been c...,NaN,4995,4080,Carolyn Brown,3381,26141,0,"Feminist, Cymraes and European! üè¥Û†ÅßÛ†Å¢Û†Å∑Û†Å¨Û†Å≥Û†Åøüá™üá∫üè¥Û†ÅßÛ†Å¢Û†Å≥Û†Å£..."
...,...,...,...,...,...,...,...,...,...
595,low levels of immunity as well as the relaxati...,"Washington, D.C.",710,170383,usnews,1,4,1,Life‚Äôs decisions made here since 1933. Breakin...
596,the number of people filing for first time une...,"Washington, D.C.",710,170383,usnews,1,2,1,Life‚Äôs decisions made here since 1933. Breakin...
597,the circuit on wednesday outlined that the br...,"Washington, D.C.",710,170383,usnews,1,2,1,Life‚Äôs decisions made here since 1933. Breakin...
598,there will be plenty of opportunities for you ...,"Washington, D.C.",710,170383,usnews,1,1,1,Life‚Äôs decisions made here since 1933. Breakin...
599,western intelligence assesses that russian off...,"Washington, D.C.",710,170383,usnews,4,28,1,Life‚Äôs decisions made here since 1933. Breakin...